<article class="card">
  <div class="card__image-wrapper">
    <button class="card__like {{#if isLiked}}card__like--active{{/if}}"></button>
    <img src="{{image}}" class="card__image">
  </div>
  <article class="card__content">
    <h6 class="card__subtitle">{{location}}</h6>
    <h5 class="card__title">{{name}}</h5>
    <h4 class="card__description">от {{price}} ₽</h4>
  </article>
</article>
