@use '@/shared/styles/variables' as *;
@use '@/shared/styles/mixins' as *;

.auth-prompt {
    @include typo-p;
    position: relative;
    display: flex;
    align-items: center;
    gap: 0.5rem;

    &__prompt {
        color: $guidely-primary;
    }

    &__link {
        @include button-primary;
    }
}
