@use '@/shared/styles/variables' as *;

a {
    text-decoration: none;
}

body {
    display: grid;
}

.avatar--default {
    opacity: 50%;
}

:focus:not(:focus-visible) {
    outline: none;
}

:focus-visible {
    outline: 3px solid transparent;
    outline-color: $guidely-primary;
    outline-offset: 1px;
    transition: outline-color $timing-animation-medium;
}
