<div class="session-actions {{className}}">
  {{#if user}}
  <span>I forgor</span>

  {{else}}
  <button class="session-actions__sign-up">Зарегистрироваться</button>
  <button class="session-actions__log-in">Войти</button>

  {{/if}}
</div>
