@use '@/shared/styles/mixins' as *;
@use '@/shared/styles/variables' as *;

.session-actions {
    @include typo-p;
    display: flex;
    align-items: center;
    gap: 0.5rem;

    &__log-in {
        @include button-primary;
    }

    &__sign-up {
        @include button-secondary;
    }

    &__user-name {
        color: $guidely-primary;
    }

    &__avatar {
        width: 40px;
        height: 40px;
        padding: 0;
        background-color: transparent;
        border: none;
        border-radius: 50%;
        overflow: hidden;
    }

    &__avatar-image {
        object-fit: cover;
        object-position: center;
    }

    &__prompt {
        color: $guidely-primary;
    }

    &__action {
        @include button-primary;
    }
}
