<article class="card {{modifier classes}}">
  <div class="card__image-wrapper">
    <button class="card__like"></button>
    <img src="/mock/rcmd1.png" class="card__image">
  </div>
  <article class="card__content">
    <h6 class="card__subtitle">{{city}}</h6>
    <h5 class="card__title">{{place}}</h5>
    <h4 class="card__description">{{price}}</h4>
  </article>
</article>
