<section class="hero">
  <img src="/assets/hero-bg.png" class="hero__bg">

  <div data-slot="search-bar"></div>

  <div class="hero__content">
    <h1 class="hero__title">Найдите развлечения<br>по своему вкусу</h1>
    <h3 class="hero__subtitle">с нами вы сможете спланировать самое<br>интересное путешествие в жизни</h3>
  </div>
</section>
