@use '@/app/styles/typography' as *;
@use '@/shared/styles/variables' as *;
@use '@/shared/styles/mixins' as *;
@use '@/app/styles/base';
@use '@/app/styles/reset';


body {
    display: grid;
    grid-template-areas:
        "header"
        "main";
    grid-template-rows: max-content 1fr;
    background-color: $surface-0;
}

header {
    position: sticky;
    top: 0;
    z-index: 20;
    grid-area: header;
    background-color: $surface-0;
}

.main {
    display: flex;
    padding: 1rem 2.5rem;
    flex-direction: column;
    grid-area: main;
    gap: 4.5rem;

    &>section {
        min-height: calc(100vh - 5rem - 2rem); // <available space> - <header>, and make little gap
    }
}

.header {
    display: flex;
    padding: 1.25rem 2.5rem 0 2.5rem;
    justify-content: space-between;

    &__name {
        @include typo-h2;
        color: $guidely-primary;
        font-weight: bold;
    }

    &__account {
        @include typo-p;
    }

    &__log-in {
        @include button-primary;
    }

    &__sign-up {
        @include button-secondary;
    }
}

.hero {
    position: relative;
    display: flex;
    padding: 3.25rem;
    flex-grow: 1;
    flex-direction: column;
    align-items: center;
    border-radius: 32px;
    overflow: hidden;

    &__bg {
        position: absolute;
        inset: 0;
        z-index: 0;
        width: 100%;
        object-fit: cover;
    }

    &__search {
        z-index: 10;
        width: 60vw;
    }

    &__content {
        z-index: 10;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.5rem;
    }

    &__title {
        color: $color-text-contrast;
        text-align: center;
    }

    &__subtitle {
        color: $color-text-contrast;
        text-align: center;
    }

    &::before {
        position: absolute;
        top: -800px;
        bottom: 0;
        z-index: 5;
        width: 100%;
        background-image: linear-gradient(0deg, rgba(243, 22, 144, 0) 0%, rgba(228, 83, 11, 1) 100%);
        background-color: hsl(0 0% 0% / 0.28);
        content: "";
    }
}

.search {
    display: flex;
    justify-content: center;
    gap: 0.5rem;

    &__field-wrapper {
        position: relative;
        flex-grow: 1;
    }

    &__input {
        @include form-field;
        padding-inline: 1rem;
    }

    &__button {
        @include button-primary;
    }

    &__icon {
        position: absolute;
        top: 50%;
        right: 0.75rem;
        color: #9B9B9B;
        translate: 0 -50%;
    }
}

.recommended {
    display: flex;
    flex-direction: column;
    gap: 4.5rem;

    &__title {
        text-align: center;
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 1.5rem 2rem;
        list-style: none;
    }
}

.card {
    border-radius: 16px;
    overflow: hidden;

    &__image-wrapper {
        position: relative;
        display: block;

        &::after {
            position: absolute;
            bottom: 0;
            inset: 0;
            width: 100%;
            background-image: linear-gradient(0deg, hsl(0 0% 89% / 1) 0%, hsl(0 0% 89% / 0) 35%);
            content: "";
        }
    }

    &__image {
        width: 100%;
        object-fit: cover;
    }

    &__like {
        position: absolute;
        top: 12px;
        right: 12px;
        z-index: 10;
        display: flex;

        width: 36px;
        height: 36px;
        align-items: center;
        justify-content: center;
        background-color: $surface-0;
        border: none;
        border-radius: 50%;
        transition: transform $timing-animation-short;

        &::before {
            width: 24px;
            height: 24px;
            background-color: $color-interactable-idle;
            mask-image: url("/icons/like-outline.svg");
            mask-position: center;
            mask-repeat: no-repeat;
            mask-size: contain;
            transition: background-color $timing-animation-short;
            content: "";
        }

        &:hover {
            &::before {
                background-color: $color-interactable-active;
            }
        }

        &--active {
            &::before {
                background-color: $color-interactable-active;
                mask-image: url("/icons/like-solid.svg");
                content: "";
            }
        }
    }

    &__image {
        position: relative;
        object-fit: cover;
    }

    &__content {
        padding: 0.5rem 1rem;
        background-color: $surface-1;
    }
}
