<dialog class="confirm-popup" closedby="any">
  <h5 class="confirm-popup__prompt">{{prompt}}</h5>
  <div class="confirm-popup__actions">
    <button class="confirm-popup__cancel">{{cancelText}}</button>
    <button class="confirm-popup__confirm">{{confirmText}}</button>
  </div>
</dialog>
