@use '@/shared/styles/variables' as *;
@use '@/shared/styles/mixins' as *;

.ratings {
    &__input {
        aspect-ratio: 1 / 1;
        width: 20px;
        margin: 0;
        accent-color: $guidely-primary;
    }

    &__item {
        @include typo-p;
        display: flex;
        gap: 0.75rem;
    }
}
