@use '@/shared/styles/mixins' as *;

.review-details {
    position: fixed;
    width: clamp(300px, 90%, 600px);
    margin-block: none;
    padding: 1rem 2.5rem 1rem 1rem;
    grid-template-columns: max-content 1fr;
    column-gap: 5.5rem;
    border: 0;
    border-radius: 8px;

    @media (max-width: 1024px) {
        padding: 1rem;
        column-gap: 2rem;
    }

    &:open {
        display: grid;
    }

    &__aside {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.25rem;
    }

    &__avatar {
        --size: 100px;

        width: var(--size);
        height: var(--size);

        margin-top: 2.5rem;
        object-fit: cover;

        @media (max-width: 1024px) {
            --size: 40px;
        }
    }

    &__main {
        display: flex;
        flex-direction: column;
    }

    &__meta {
        @include typo-small;
        display: flex;
        margin-bottom: 0.75rem;
        gap: 1.25rem;
    }

    &__rating-value {
        --hue: calc((var(--rating) - 1) / 4 * 120);
        color: hsl(var(--hue), 100%, 34%)
    }

    &__title {
        margin-bottom: 2rem;
    }

    &__content {
        margin-bottom: 3rem;
    }

    &__show-all {
        @include button-secondary;
    }

    &__delete {
        position: absolute;
        top: 1rem;
        right: 1rem;
        display: none;
        background-color: transparent;
        border: none;
        opacity: 50%;
    }

    &__delete-img {
        --size: 24px;

        width: var(--size);
        height: var(--size);
    }

    &--own &__delete {
        display: block;
    }
}
