<div class="amount-filter">
  <h3 class="amount-filter__title">{{title}}</h3>
  <div class="amount-filter__input-wrapper">
    <span class="amount-filter__prefix">от</span>
    <div data-slot="number-field" class="amount-filter__field"></div>
  </div>
</div>
