<form class="search {{className}}" action="{{url '/search'}}">
  <div class="search__field-wrapper">
    <div data-slot="search-field"></div>
    <div data-slot="drop-down-list" class="search__drop-down"></div>
  </div>

  {{#if withButton}}
  <button class="search__button" type="submit">Поехали!</button>
  {{/if}}

</form>
