<div class="{{s 'filters'}}">
    <div data-slot="category-filter"></div>
    <div data-slot="rating-filter"></div>
    <div data-slot="review-count-filter"></div>

  <button type="button" class="{{s 'filters__tab'}}" data-ref="open-toggle">
    <img src="/icons/arrow-down.svg" class="{{s 'filters__tab-img'}}">
  </button>
</div>
