@use '@/shared/styles/variables' as *;
@use '@/shared/styles/layout' as *;

.login-page {
    @include default-page-layout;
}


.header {
    display: none;
}

.main__form {
    width: 100%;
    height: 100%;
}

@media (min-width: 1024px) {
    .header {
        display: flex;
    }

    .main {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        background-image: url("/assets/log-in-bg.png");
        background-position: center 75%;
        background-size: cover;
        background-repeat: no-repeat;

        &__form {
            z-index: 10;
            width: 450px;
            height: max-content;
        }

        &::before {
            position: absolute;
            inset: 0;
            z-index: 5;
            background-color: hsl(0 0% 0% / 0.3);
            content: "";
        }
    }
}
