@use '@/shared/styles/mixins' as *;
@use '@/shared/styles/variables' as *;

.create-trip {
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    width: clamp(300px, 90%, 500px);
    height: 100dvh;
    max-height: none;
    margin: 0;
    margin-left: auto;
    padding: 4.5rem 3rem 0;
    flex-direction: column;
    border: none;
    border-radius: 8px 0 0 8px;

    translate: 100%;
    transition:
        translate $timing-animation-medium;

    @media (max-width: 1024px) {
        padding-inline: 2rem;
    }

    &.is-visible {
        translate: 0;
    }

    &::backdrop {
        background-color: hsl(0 0% 0% / 0);
        transition: background-color $timing-animation-medium;
    }

    &.is-visible::backdrop {
        background-color: hsl(0 0% 0% / 0.4);
    }

    &__close {
        position: absolute;
        top: 1.5rem;
        right: 1.5rem;
        background: transparent;
        border: none;
    }

    @media (max-width: 1024px) {
        &__header {
            font-size: 1.5rem;
        }
    }

    &__close-image {
        --size: 32px;
        width: var(--size);
        height: var(--size);
    }

    &__form {
        display: flex;
        flex-grow: 1;
        flex-direction: column;
    }

    &__fields {
        display: flex;
        margin-top: 1.25rem;
        flex-grow: 1;
        flex-direction: column;
        gap: 2rem;
    }

    &__actions {
        display: flex;
        justify-content: space-between;
    }

    &__cancel {
        @include button-secondary;
    }

    &__submit {
        @include button-primary;
    }
}
