<div class="drop-down" data-state="hidden">
  {{#if emptyPromptHeader}}
  <h5 class="drop-down__header" data-ref="header">{{emptyPromptHeader}}</h5>
  {{/if}}

  <ul class="drop-down__list" data-ref="item-list"></ul>
</div>
