@use '@/shared/styles/variables' as *;

.bio {
    display: grid;
    grid-template-areas:
        "avatar meta"
        "avatar about";
    grid-template-columns: max-content 1fr;
    column-gap: 3rem;

    @media (max-width: 1024px) {
        column-gap: 1.5rem;
    }

    &__avatar {
        --size: 128px;
        aspect-ratio: 1 / 1;
        width: var(--size);
        grid-area: avatar;
        border-radius: 8px;
        object-fit: cover;

        @media (max-width: 1024px) {
            --size: 80px;
        }
    }

    &__meta {
        grid-area: meta;
    }

    &__location {
        color: $color-text-muted;
    }

    &__about {
        margin-top: 2.5rem;
        grid-area: about;
        line-height: 1.2;
    }
}

.hidden {
    display: none;
}
