<div data-slot="header"></div>

<main class="{{s 'main'}}">
  <div data-slot="hero" class="{{s 'hero'}}"></div>

  <section class="{{s 'recommended'}}">
    <h2 class="{{s 'recommended__title'}}">8 мест, где хочется задержаться</h2>
    <div data-slot="recommended-list"></div>
  </section>
</main>
