@use '@/shared/styles/variables' as *;
@use '@/shared/styles/mixins' as *;

.header {
    position: sticky;
    top: 0;
    z-index: 20;
    display: flex;
    padding: 0.75rem 2.5rem;
    align-items: center;
    justify-content: space-between;
    background-color: $surface-0;

    &__name {
        @include typo-h2;
        color: $guidely-primary;
        font-weight: bold;
    }
}
