@use '@/shared/styles/variables' as *;

.accordion {
    display: flex;
    flex-direction: column;
    background-color: $white;

    &__header {
        display: flex;
        padding: 1rem;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
        user-select: none;
    }

    &__marker {
        width: 24px;
        transition: rotate $timing-animation-medium;
    }

    &__content-wrapper {
        display: grid;
        grid-template-rows: 0fr;
        transition: grid-template-rows $timing-animation-medium;
        overflow: hidden;
    }

    &__content {
        min-height: 0;
    }

    &--open {
        .accordion__marker {
            rotate: 180deg;
        }

        .accordion__content-wrapper {
            grid-template-rows: 1fr;
        }
    }
}
