<section class="recommended">
  <h2 class="recommended__title">8 мест, где хочется задержаться</h2>
  <ul class="recommended__list">
    {{#each cards}}
    <li class="recommended__item">
      {{{this}}}
    </li>
    {{/each}}
  </ul>
</section>
