@use '@/shared/styles/mixins' as *;
@use '@/shared/styles/variables' as *;

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    border: 1px solid $color-border-button;
    border-radius: 8px;

    &__preview {
        flex: 0 0 180px;
        object-fit: cover;
    }

    &__link {
        position: absolute;
    }

    &__content {
        display: flex;
        padding: 0.5rem 1rem;
        flex-direction: column;
    }

    &__meta {
        @include typo-p;
        display: flex;
        gap: 1rem;
    }

    &__options {
        position: absolute;
        top: 0.75rem;
        right: 0.75rem;
        background-color: transparent;
        border: none;
    }

    &__options-img {
        width: 40px;
        height: 32px;
    }

    @media (min-width: 1024px) {
        max-height: 250px;
        flex-direction: row;
        gap: 1.25rem;
        cursor: pointer;

        &__preview {
            width: 100%;
            height: 100%;
            min-height: 0;
            flex: 0 0 300px;
        }

        &__content {
            display: flex;
            padding: 1.5rem 0;
            gap: 0.25rem;
        }
    }
}
