<dialog id="{{ id }}" class="settings" closedby="any">
  <form class="settings__form" enctype="multipart/form-data">
    <div data-slot="avatar"></div>

    <div class="settings__fields">
      <div data-slot="nickname"></div>
      <div data-slot="login"></div>
      <div data-slot="city"></div>
      <div data-slot="about"></div>
    </div>

    <div class="settings__actions">
      <button class="settings__close" type="button" commandfor="{{ id }}" command="close">Отменить</button>
      <button class="settings__submit" type="submit">Сохранить</button>
    </div>
  </form>
</dialog>
