<dialog id="{{ id }}" class="settings" closedby="any">
  <form class="settings__form" enctype="multipart/form-data">
    <label class="settings__avatar-label avatar-upload">
      {{> UserAvatar
        src=userAuth.avatar
        className="avatar-upload__image"
        ref="avatar"
      }}
      <div class="avatar-upload__overlay">
        <img src="/icons/plus.svg" class="avatar-upload__icon">
        <h6 class="avatar-upload__text">Фото профиля (до 10 Мб)</h6>
      </div>

      <input type="file" name="avatar" accept="image/*" hidden>
    </label>

    <div class="settings__fields">
      {{#each fields}}
      <div data-slot="{{this}}"></div>
      {{/each}}
    </div>

    <div class="settings__actions">
      <button class="settings__close" type="button" commandfor="{{ id }}" command="close">Отменить</button>
      <button class="settings__submit" type="submit">Сохранить</button>
    </div>
  </form>
</dialog>
